In [9]:
for x in range(1,3):
    for z in range(x):
        print(1,end=" ")
    print()               #so it goes to new line for new row
#outer loop for rows
#inner loop for colunms

1
1 1

In [10]:
#a
for x in range(1,6):
    for y in range(x):
        print(x,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [26]:
#b
for x in range(1,6):
    for y in range(1,x+1):
        print(y,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [33]:
#c
a=1
for x in range(5,0,-1):
    for y in range(x,0,-1):
        print(a,end=" ")
    a=a+1
    print()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [34]:
#d
a=5
for x in range(5,0,-1):
    for y in range(x,0,-1):
        print(a, end=" ")
    print()

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

In [48]:
#e
for x in range(5,0,-1):
    for y in range(0,x+1):
        print(y,end= " ")
        
    print()

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

In [45]:
#f
for x in range(1,10,2):
    for y in range(1,x+1,2):
        print(x,end=" ")
        
    print()

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [46]:
#g
for x in range(5,0,-1):
    for y in range(x,0,-1):
        print(x,end=" ")
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [50]:
#h
for x in range(1,6):
    for y in range(x,0,-1):
        print(x,end = " ")
        x-=1
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [51]:
#i
for x in range(5,0,-1):
    for y in range(x,0,-1):
        print(x,end = " ")
        x-=1
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [ ]:
#j

for x in range()

In [12]:
#k

for x in range (1,6):
    a=1
    for y in range(5,0,-1):
        if y>x:
            print(" ",end =" ")
        else:
            print(a,end = " ")
            a+=1
    print()

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

In [ ]:
#l

In [14]:
#m
for x in range(1,6):
    for y in range(1,6):
        if x>=y:
            print(x, end =" ")
        else:
            print(y, end =" ")
        
        
    print()

1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

In [1]:
#n
for x in range(1,9):
    for y in range(1,x+1):
        print(x*y, end = " ")
    print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64

In [1]:
#o
for x in range(1,6):
    for y in range(1,x+1):
        print('*',end = " ")
    print()

*
* *
* * *
* * * *
* * * * *

In [21]:
#p
for x in range(1,6):
    for y in range(6,0,-1):
            if y>x:
                print(" ", end = " ")
            else:
                print("*", end = " ")
           
    print()

          *
        * *
      * * *
    * * * *
  * * * * *

In [24]:
#q
for x in range(5,0,-1):
    for y in range(1,x+1):
        print("*", end = " ")
    print()

* * * * *
* * * *
* * *
* *
*

In [33]:
#r
a=1
for x in range(7,1,-1):
    print(" "*a, end = " ")
       
    for y in range(x,1,-1):
        print('*', end = " ")
    a+=1
    print()

  * * * * * *
   * * * * *
    * * * *
     * * *
      * *
       *

In [37]:
#s
a=1
for x in range(5,0,-1):
    print(" "*a,end = " ")
    for y in range(x,0,-1):
        print("*", end = "")
    a+=1
    print()

  *****
   ****
    ***
     **
      *

In [63]:
#t
a = 1
for x in range(7,0,-1):
    print(" "*x, end = " ")
    for y in range(1,a+1):
        print("*", end = " ")
    a+=1
    print()

        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
  * * * * * * *

In [69]:
#q
a=1
for x in range(1,7):
    for y in range(1,a+1):
        print("*", end = " ")
        
    print()
    a+=1
print()

for x in range(6,0,-1):
    for y in range(x,0,-1):
        print("*", end = " ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [71]:
#r
for x in range(1,6):
    for y in range(1,x+1):
        print("*", end = " ")
    print()
for x in range(4,0,-1):
    for y in range(x,0,-1):
        print("*", end = " ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [109]:
#s
a = 1
for x in range(6,1,-1):
    print(" "*x, end = " ")
    for y in range(1,a+1):
        print("*", end = "")
    a+=1
    print()
for x in range(1,5):
    print(" "*x, end  = "   ")
    for y in range(x,5):
        print("*", end = "")
    print()

       *
      **
     ***
    ****
   *****
    ****
     ***
      **
       *

In [107]:
#t
a = 1
for x in range(5,0,-1):
    print(" "*a, end = " ")
    for y in range(x,0,-1):
        print("*", end  = " ")
    a+=1
    print()
b=1
for x in range(5,0,-1):
    print(" "*x, end = " ")
    for y in range(1,b+1):
        print("*", end = " ")
    b+=1
    print()

  * * * * *
   * * * *
    * * *
     * *
      *
      *
     * *
    * * *
   * * * *
  * * * * *

In [127]:
#u
a = 1
for x in range(5,0,-1):
    print(" "*x, end = " ")
    for y in range(1, a+1):
        print("*", end =" ")
    a+=1
    print()
b=1
for x in range(7,0,-1):
    print(" "*b, end = "")
    for y in range(1,x):
        print("*", end = " ")
    b+=1
    print()

      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
  * * * * *
   * * * *
    * * *
     * *
      *

In [ ]:
#v