In [26]:
#1 Create a function that takes a boolean variable flag and returns it as a string.
#Examples
#bool_to_string(True) ➞ "True"
#bool_to_string(False) ➞ "False"
def bts(x):
    y = str(x)
    return y

In [27]:
bts(True)

'True'

In [29]:
#2 Create a function that returns True when num1 is equal to num2; otherwise return False.
def issamenum(x,y):
    if(x==y):
        return True
    else:
        return False

In [35]:
issamenum(5,2)

False

In [37]:
#3 Create a function that takes a number as its only argument and returns True if it's less than or equal to zero, otherwise,
#False
def lessorequaltozero(x):
    if x<=0:
        return True
    else:
        return False

In [40]:
lessorequaltozero(0.8)

False

In [54]:
#4 Emmy has written a function that returns a greeting to users. However, she's in love with Mubashir, 
#and would like to greet him slightly differently.She added a special case in her function, but she made a mistake.
def greet(x):
    
    if x=="Mubashir":
        y = print("Hello, my love!")
        return y
    else:
        y = print("Hello,",x,"!")
        return y

In [56]:
greet('Mubashir')

Hello, my love!

In [57]:
#5Create a function that takes two arguments. Both arguments are integers, a and b. Return True if one of them is 10 
#or if their sum is 10.
def makes10(x,y):
    if x|y==10 or x+y==10:
        return True
    else:
        return False

In [61]:
makes10(1,8)

False

In [65]:
#6 Create a function that takes three arguments prob, prize, pay and returns True if prob * prize > pay;
# otherwise return False.
def profit_gamble(prob,prize,pay):
    if prob*prize>pay:
        return True
    else:
        return False

In [67]:
profit_gamble(3,2,7)

False

In [68]:
#7 Create a function that takes an integer and returns True if it's divisible by 100, otherwise return False.
def divby100(x):
    if x%100==0:
        return True
    else:
        return False

In [70]:
divby100(20)

False

In [71]:
#8 Create a function that takes two strings as arguments and return either True or False depending on whether the total 
# number of characters in the first string is equal to the total number of characters in the second string.
#Examples
#comp("AB", "CD") ➞ True
def comp(x,y):
    if len(x)==len(y):
        return True
    else:
        return False

In [73]:
comp('hi','di')

True

In [74]:
#9 Given a string, return True if its length is even or False if the length is odd.
def leneven(x):
    if len(x)%2==0:
        return True
    else:
        return False

In [79]:
leneven((4,2,1,99))

True

In [91]:
#10 Create a function that takes a string; we'll say that the front is the first three characters of the string.
# If the string length is less than three characters, the front is whatever is there. Return a new string, which is 
# three copies of the front.
#Examples
#front3("Python") ➞ "PytPytPyt"
def front3(x):
    if len(x)>=3:
        front = x[0:3]
        return front*3
    else:
        front = x[:]
        return front*3

In [92]:
front3('He')

'HeHeHe'

In [98]:
#11 Create a function that takes a number as an argument and returns "even" for even numbers and "odd" for odd numbers.
def evenorodd(x):
    if x%2==0:
         return "even"
    else:
        return "odd"

In [99]:
evenorodd(13)

'odd'

In [399]:
#12 Create a function that takes in a word and determines whether or not it is plural. A plural word is one that ends in "s".
def is_plural(x):
    return x[-1]=='s'

In [400]:
is_plural("changes")

True

In [401]:
is_plural("change")

False

In [101]:
#13 Create a function that takes a string (a random name). If the last character of the name is an "n", return True,or False.
def is_n(x):
    return x[-1]=='n'

In [102]:
is_n('helen')

True

In [106]:
#14 The packaging system is running wild! The candy is lying loose all over in the warehouse, the cereal is missing,
#and bread is stuffed in a bottle. What is going on here? The candy should be in plastic and the bread should be in a bag.

def get_container(x):
    d = {"milk":"bottle",
           'eggs':'carton',
           'beer':'bottle',
           'hello':'world'}
    return d[x]

In [107]:
get_container('milk')

'bottle'

In [122]:
#15 Create a function that returns the opposite of the given boolean, as a number.
def flip(x):
    if x==False:
        return 1
    else:
        return 0

In [123]:
flip(9)

0

In [133]:
#16 Write a function that accepts base (decimal), height (decimal) and shape ("triangle", "parallelogram") as input and
#calculates the area of that shape.
def area_shape(b, h, shape):
    if shape == "triangle":
        area = (0.5*b*h)//1
        return area
    else:
        area = (b*h)//1
        return area

In [135]:
area_shape(3.7,4.2,"triangle")

7.0

In [144]:
#17 You will need to write three unfinished logic gates. Continue to write the three logic gates: AND, OR, and NOT.
def NOT(x):
    return not x

In [145]:
NOT(1)

False

In [149]:
#18 Given the person's age and whether break time is in session, create a function which returns whether he should serve drinks.
def drinks(age, break_ornot):
    if age>=18 and break_ornot == False:
        return True
    else:
        return False

In [150]:
drinks(17,True)

False

In [152]:
drinks(21,False)

True

In [5]:
#19 Write a function that returns the string "even" if the given integer is even, and the string "odd" if it's odd.
def check_even(x):
    b = x%2
    if bool(b)== False:
        return "even"
    else:
        return "odd"

In [8]:
check_even(-8)

'even'

In [10]:
#20 Create a function that takes a string txt and a number n and returns the repeated string n number of times.
#If given argument txt is not a string, return Not A String !!
#Examples
#repeat_string("Mubashir", 2) ➞ "MubashirMubashir"
#repeat_string("Matt", 3) ➞ "MattMattMatt"
#repeat_string(1990, 7) ➞ "Not A String !!"
def repeat_string(s,n):
    if type(s)== str:
        return s*n
    else:
        return "Not a string!"

In [13]:
repeat_string(20,3)

'Not a string!'

In [14]:
repeat_string("Hey",3)

'HeyHeyHey'

In [29]:
#21 A taxi journey costs $3 for the first kilometer travelled. However, all kilometers travelled after that will
#cost $2 each.
#Create a function which returns the distance that the taxi must've travelled, given the cost as a parameter.
#Examples
#journey_distance(3) ➞ 1
# The first kilometer costs $3
#journey_distance(9) ➞ 4
# The first kilometer costs $3 plus the other three kilometers (costing $2 each)
#journey_distance(5) ➞ 2

def journey_distance(x):   
    if x==3:
        return 1
    elif x!=0:
        return int((x-3)/2+1) 
    else: 
        return "No distance travelled yet"

In [30]:
journey_distance(9)

4

In [31]:
#22 Given a list that contains the fulcrum "f", the effort "e", and the load "l", write a function that determines 
#whether or not the list shows a first class lever, second class lever, or a third class lever.
#Examples
#determine_lever(["e", "f", "l"]) ➞ "first class lever"
#determine_lever(["e", "l", "f"]) ➞ "second class lever"
#determine_lever(["f", "e", "l"]) ➞ "third class lever"

def determine_lever(l):
    if l[0]=="e" and l[1]=="f" and l[2]=="l":
        return "first class lever"
    elif l[0]=="e" and l[1]=="l" and l[2]=="f":
        return "second class lever"
    elif l[0]=="f" and l[1]=="e" and l[2]=="l":
        return "third class lever"
    else:
        return "No lever"

In [32]:
determine_lever(["e", "l", "f"])

'second class lever'

In [7]:
#random
m = float(input("Enter marks : "))
if (m>=40):
    print("pass!")
    if m>=40 and m<55:
        print("third class")
    elif m>=55 and m<65:
        print("second class")
    elif m>=65 and m<75:
        print("first class")
    else:
        print("distiction")
        
else: 
    print("fail")

Enter marks : 70
pass!
first class

In [4]:
#random
d = {"a":1,"b":2,"c":3}
k = input("enter a key: ")
if k in d:
    print("yes\n", "value is :",d[k])
else:
    print("no")

enter a key: a
yes
 value is : 1

In [36]:
#23 Write a function that checks whether a person can watch an MA15+ rated movie. One of the following two 
#conditions is required for admittance:
#The person is at least 15 years old.
#They have parental supervision.
#The function accepts two parameters, age and is_supervised. Return a boolean.
#Examples
#accept_into_movie(14, True) ➞ True
#accept_into_movie(14, False) ➞ False
#accept_into_movie(16, False) ➞ True
def accept_into_movie(age, par):
    return age>15 or par==True

In [38]:
accept_into_movie(14, False)

False

In [39]:
accept_into_movie(16, False)

True

In [37]:
accept_into_movie(14, True)

True

In [40]:
#24 Create a function that returns a number, based on the string provided. Here is a list of all digits:
#word("one") ➞ 1
#word("two") ➞ 2
#word("nine") ➞ 9
def word(s):
    d={"zero":0,"one":1,"two":2,"three":3,"four":4,"five":5,"six":6,"seven":7,"eight":8,"nine":9}
    if s in d:
        return d[s]
    else:
        return "Not a number."

In [41]:
word("one")

1

In [42]:
word("nine")

9

In [43]:
word("hey")

'Not a number.'

In [48]:
#25 Write a function that uses the ternary operator to return "yeah" if b is True, and "nope" otherwise.
def yeah_nope(b):
    return "yeah" if b else "nope"

In [49]:
yeah_nope(True)

'yeah'

In [50]:
yeah_nope(False)

'nope'

In [82]:
#26 Create a function that takes a number x and a character y ("m" for male, "f" for female), and returns the 
#name of an ancestor (m/f) or descendant (m/f).
#If the number is negative, return the related ancestor.
#If positive, return the related descendant.
#You are generation 0. In the case of 0 (male or female), return "me!".
#Examples
#generation(2, "f") ➞ "granddaughter"
#generation(-3, "m") ➞ "great grandfather"
#generation(1, "f") ➞ "daughter"
def generation(n,s):
    
    if n==1 and s=="f":
        return "daughter"
    elif n==2 and s=="f":
        return "granddaughter"
    elif n>2 and s=="f":
        return ("great "*(n-2)+"granddaughter")
    elif n==-1 and s=="f":
        return "mother"
    elif n==-2 and s=="f":
        return "grandmother"
    elif n<-2 and s=="f":
        return ("great "*(-n-2)+"grandmother")
    elif n==1 and s=="m":
        return "son"
    elif n==2 and s=="m":
        return "grandson"
    elif n>2 and s=="m":
        return ("great "*(n-2)+"grandson")
    elif n==-1 and s=="m":
        return "father"
    elif n==-2 and s=="m":
        return "grandfather"
    elif n<-2 and s=="m":
        return ("great "*(-n-2)+"grandfather")
    else:
        return "me!"

In [87]:
generation(2, "f")

'granddaughter'

In [88]:
generation(-3, "m")

'great grandfather'

In [1]:
#27 Backpack Bill and Wallet Will set off for the annual festival. As they approach the stalls, Bill retorts that 
#he'll be able to bring home more stuff than Will. Taking this as a challenge, Will refutes and a competition 
#spurs into action.
#Backpack Bill has an infinite inventory space, but a limited number of coins.
#Wallet Will has an infinite number of coins, but a limited inventory space.
#Create a function that returns the name of the man who can bring home the most items. The parameters are given
#as follows:
#Bill's amount of money.
#Will's amount of inventory space.
#The item's price.
#The item's size.

def winner(b_money,w_space,price,size):
    b_item=b_money/price
    w_item=w_space/size
    if b_item>w_item:
        print("Bill wins!")
    elif b_item<w_item:
        print("Will wins!")
    else:
        return "Tie!"

In [2]:
winner(100,100,20,30)

Bill wins!

In [94]:
#28 Create a function that validates whether a number n is within the bounds of lower and upper. Return False
#if n is not an integer.
#Examples
#int_within_bounds(3, 1, 9) ➞ True
#int_within_bounds(6, 1, 6) ➞ False
#int_within_bounds(4.5, 3, 8) ➞ False

def int_within_bounds(n,lower,upper):
    if type(n)==int:
        if n>=lower and n<upper:
            return True
        else:
            return False
    else:
        return False

In [95]:
int_within_bounds(3, 1, 9)

True

In [97]:
int_within_bounds(6, 1, 6)

False

In [98]:
int_within_bounds(4.5, 3, 8)

False

In [104]:
#29 Write a function that returns the boolean True if the given number is zero, the string "positive" if the 
#number is greater than zero or the string "negative" if it's smaller than zero.
def num(n):
    if n>0:
        return "positive"
    elif n<0:
        return "negative"
    else:
        return True

In [100]:
num(0)

True

In [101]:
num(6)

'positive'

In [105]:
num(-9)

'negative'

In [106]:
#30 Create a function that takes three numbers as arguments and returns True if it's a triangle and False if not.

def triangle(s1,s2,s3):
    return (s1+s2>s3 or s2+s3>s1 or s3+s1>s2) and ((s1+s2)!=s3 and (s2+s3)!=s1 and (s3+s1)!=s2)

In [13]:
triangle(7,4,3)

False

In [107]:
triangle(2, 3, 4)

True

In [112]:
triangle(3,4,5)

True

In [114]:
#31 Create a function that takes an argument of any data type and returns 1 if it's truthy and 0 if it's falsy.

def is_truthy(x):
    return not(x==False or x==None or x==0 or x==[] or x=={} or x=="")

In [115]:
is_truthy(0)

False

In [116]:
is_truthy(False)

False

In [117]:
is_truthy("")

False

In [118]:
is_truthy("False")

True

In [126]:
#32 Write a function that returns True if both numbers are:
#Smaller than 0, OR ...
#Greater than 0, OR ...
#Exactly 0
#Otherwise, return False.

def both(a,b):
    return (a>0 and b>0) or (a<0 and b<0) or (a==0 and b==0)

In [122]:
both(6, 2)

True

In [127]:
both(0 , 0)

True

In [128]:
both(-1, 2)

False

In [129]:
both(0, 2)

False

In [136]:
#33 Create a function that takes a list. This list will contain numbers represented as strings.Your function should
#split this list into two new lists. The first list should contain only even numbers. The second only odd. Then, 
#wrap these two lists in one main list and return it.Return an empty list if there are no even numbers, or odd.
def clean_up_list(l):
    le=[];lo=[];l1=[le,lo]
    for i in l:
        if int(i)%2==0:
            le.append(i)
        elif int(i)%2==1:
            lo.append(i)
    return l1

In [137]:
clean_up_list(["8"])

[['8'], []]

In [138]:
clean_up_list(["11"])

[[], ['11']]

In [139]:
clean_up_list(["7", "4", "8"])

[['4', '8'], ['7']]

In [140]:
clean_up_list(["9", "4", "5", "8"])

[['4', '8'], ['9', '5']]

In [142]:
#34 Create a function that takes a range object r, index i, and returns a list where the first element is the number of
#elements in the range object, and the second element is the element of the range object at the given index.

def length_element(r, i):
    l=[]
    l.append(len(r))
    l.append(r[i])
    return l

In [143]:
length_element(range(2, 4), 0)

[2, 2]

In [144]:
length_element(range(12, 15, 2), 1)

[2, 14]

In [145]:
length_element(range(40, 50, 3), 2)

[4, 46]

In [175]:
#35 When creating variables, the variable name must always start with a letter and cannot contain spaces, though 
#numbers and underscores are allowed to be contained in it also.
#Create a function which returns True if a given variable name is valid, otherwise return False.
def variable_valid(s):
           if s[0].isalpha()==True:            
            return True
        else:
            return False

In [176]:
variable_valid("result")

True

In [180]:
variable_valid("odd_nums")

True

In [177]:
variable_valid("2TimesN")

False

In [181]:
#36 Create a function that takes two integers and checks if they are equal.
def is_equal(a,b):
    return a==b

In [182]:
is_equal(5, 6)

False

In [183]:
is_equal(1, 1)

True

In [185]:
is_equal("1", 1)

False

In [187]:
#37 n a board game, a piece may advance 1-6 tiles forward depending on the number rolled on a six-sided die. 
#If you advance your piece onto the same tile as another player's piece, both of you earn a bonus.Can you reach 
#your friend's tile number in the next roll? Create a function that returns if it's possible to earn a bonus when 
#you roll the die.
def possible_bonus(a, b):
    return a<b and (b-a)<=6

In [188]:
possible_bonus(3, 7)

True

In [189]:
possible_bonus(1, 9)

False

In [190]:
possible_bonus(5, 3)

False

In [196]:
#38 Write a function that takes a string name and a number num (either 0 or 1) and return "Hello" + name if num is 1,
#otherwise return "Bye" + name.
def say_hello_bye(s,n):
    return "Hello "+s.title() if n==1 else "Bye "+s.title()

In [197]:
say_hello_bye("alon", 1)

'Hello Alon'

In [198]:
say_hello_bye("Tomi", 0)

'Bye Tomi'

In [199]:
say_hello_bye("jose", 0)

'Bye Jose'

In [200]:
#39 Create a function that takes three number arguments — one number as an input and two additional numbers 
#representing the endpoints of a closed range — and return the number limited to this range.
#If the number falls within the range, the number should be returned.
#If the number is less than the lower limit of the range, the lower limit should be returned.
#If the number is greater than the upper limit of the range, the upper limit should be returned.

def limit_number(num, range_low, range_high):
    if range_low<num<range_high:
        return num
    elif num<range_low:
        return range_low
    else:
        return range_high

In [201]:
limit_number(5, 1, 10)

5

In [202]:
limit_number(-3, 1, 10)

1

In [203]:
limit_number(14, 1, 10)

10

In [204]:
limit_number(4.6, 1, 10)

4.6

In [222]:
#40 Write a function that takes an integer and:
#If the number is a multiple of 3, return "Hello".
#If the number is a multiple of 5, return "World".
#If the number is a multiple of both 3 and 5, return "Hello World".

def hello_world(n):
    if n%3==0 and n%5==0:
        return "Hello World"
    elif n%3==0:
        return "Hello"
    elif n%5==0:
        return "World"

In [214]:
hello_world(3)

'Hello'

In [208]:
hello_world(5)

'World'

In [223]:
hello_world(15)

'Hello World'

In [226]:
#41 iven a string and a style character, return the newly formatted string. Style characters are single letters 
#that represent the different types of formatting.
#For the purposes of this challenge, the style characters are as follows:
#"b" is for bold
#"i" is for italics
#"c" is for inline code
#"s" is for strikethrough
def md_format(word, style):
    if style=="b":
        return "**"+word+"**"
    elif style=="i":
        return "_"+word+"_"
    elif style=="c":
        return "'"+word+"'"
    elif style=="s":
        return "~~"+word+"~~"

In [227]:
md_format("Bold", "b")

'**Bold**'

In [228]:
md_format("leaning text", "i")

'_leaning text_'

In [229]:
md_format("Edabit", "c")

"'Edabit'"

In [230]:
md_format("That's a strike!", "s")

"~~That's a strike!~~"

In [248]:
#42 Write a function that returns True if a year is a leap, otherwise return False.A year is a "leap year" if it 
#lasts 366 days, instead of 365 in a typical year. That extra day is added to the end of the shortest month, 
#creating February 29.A leap year occurs every four years, and will take place if the year is a multiple of four.
#The exception to this is a year at the beginning of a century (for example, 1900 or 2000), where the year must
#be divisible by 400 to be a leap year.Look at the examples, and if you need help, look at the resources panel.
def leap_year(y):
    if y%100==0:
        return y%400==0
            
    elif y%4==0:
        return True
    else:
        return False

In [250]:
leap_year(1924)

True

In [255]:
leap_year(1990)

False

In [249]:
leap_year(1900)

False

In [257]:
#43 Given a pH value, return whether that value is "alkaline" (greater than 7), "acidic" (less than 7), or
#"neutral" (7). Return "invalid" if the value given is less than 0 or greater than 14.

def pH_name(v):
    if 0<=v<7:
        return "acidic"
    elif 8<=v<=14:
        return "alkaline"
    elif v==7:
        return "neutral"
    else:
        return "invalid"

In [258]:
pH_name(5)

'acidic'

In [259]:
pH_name(7)

'neutral'

In [261]:
pH_name(8.9)

'alkaline'

In [266]:
#44 Create a function that takes an array of hurdle heights and a jumper's jump height, and determine 
# whether or not the hurdler can clear all the hurdles.A hurdler can clear a hurdle if their 
# jump height is greater than or equal to the hurdle height.
def hurdle_jump(hurdles, jump_height):
    return jump_height>=max(hurdles)

In [267]:
hurdle_jump([1, 2, 3, 4, 5], 5)

True

In [268]:
hurdle_jump([5, 5, 3, 4, 5], 3)

False

In [269]:
hurdle_jump([1, 2, 1], 1)

False

In [271]:
#45 Create a function which returns the type of triangle, given the side lengths. Return the following values if 
#they match the criteria.
#No sides equal: "scalene"
#Two sides equal: "isosceles"
#All sides equal: "equilateral"
#Less or more than 3 sides given: "not a triangle"
def get_triangle_type(l):
    if len(l)==3:
        if l[0]==l[1]==l[2]:
            return "equilateral"
        elif l[0]==l[1] or l[1]==l[2] or l[2]==l[0]:
            return "Isosceles"
        else:
            return "scalene"
    else:
        return "not a triangle"

In [272]:
get_triangle_type([2, 6, 5])

'scalene'

In [273]:
get_triangle_type([4, 4, 7])

'Isosceles'

In [274]:
get_triangle_type([8, 8, 8])

'equilateral'

In [275]:
get_triangle_type([3, 5, 5, 2])

'not a triangle'

In [277]:
#46 Write a function that returns True if two rooks can attack each other, and False otherwise.
def can_capture(rooks):
    if rooks[0][0]==rooks[1][0]:
        return True
    else:
        return False

In [278]:
can_capture(["A8", "E8"])

False

In [279]:
can_capture(["A1", "B2"])

False

In [280]:
can_capture(["H4", "H3"])

True

In [281]:
can_capture(["F5", "C8"])

False

In [302]:
#47 Given an integer n. Your task is to find how many digits this integer contains without using str or len methods.
def sum_digits(n):
    c=0
    while n>=1:
        c+=1
        n=(n/10)
    return c

In [303]:
sum_digits(100)

3

In [304]:
sum_digits(1000)

4

In [305]:
sum_digits(1)

1

In [306]:
#48 Convert cartesian coordinates (x, y) to polar coordinates (R, phi) and return the score based on the R value.
#R > 10 gives 0 points, 10 >= R > 5 gives 1 point, 5 >= R > 1 gives 5 points, R <= 1 gives 10 points.
def darts_scoring(x, y):
    r=(x*x+y*y)**0.5
    s=0
    if r>10:
        s=0
    elif 10>=r>5:
        s=1
    elif 5>=r>1:
        s=5
    elif r<=1:
        s=10
    return s

In [307]:
darts_scoring(0, 0)

10

In [308]:
darts_scoring(3, 2)

5

In [309]:
darts_scoring(0, -0.8)

10

In [362]:
#49 Create a function that takes in a two-dimensional list and returns the number of sub-lists with only 
#identical elements.
def count_identical(lst):
    l=0;
    if len(lst)==1:
        l+=1
        return l
    else:
        for sb in lst:
            if len(sb)==1:
                l+=1
            else:
                a=0
                for y in sb:
                    x=sb[0]
                    if y==x:
                        a+=1
                if a==len(sb):
                    l+=1
        return l

In [363]:
count_identical([ [5],["@", "@", "@", "@"],[2, 3], [3, 4], [4, 4]])

3

In [364]:
#50 Create a function that takes a number (from 1 to 12) and returns its corresponding month name as a string. 
#For example, if you're given 3 as input, your function should return "March", because March is the 3rd month.
def month_name(num):
    m={1:"January",2:"February",3:"March",4:"April",5:"May",6:"June",7:"July",8:"August",9:"September",\
          10:"October",11:"November",12:"December"}
    for i in range(1,13):
        if num==i:
            return m[i]

In [365]:
month_name(3)

'March'

In [366]:
month_name(12)

'December'

In [367]:
month_name(6)

'June'

In [375]:
#51 Create a function that takes an initial word and extracts any words that start with the same letters as the initial word.
def dictionary(initial, words):
    l=[]
    for i in words:
        if initial in i:
            l.append(i)
        else:
            continue
    return l

In [372]:
dictionary("bu", ["button", "breakfast", "border"])

['button']

In [373]:
dictionary("tri", ["triplet", "tries", "trip", "piano", "tree"])

['triplet', 'tries', 'trip']

In [376]:
dictionary("beau", ["pastry", "delicious", "name", "boring"])

[]

In [377]:
#52 Create a function that takes a list of strings and returns the words that are exactly four letters.
def is_four_letters(lst):
    l=[]
    for i in lst:
        if len(i)==4:
            l.append(i)
        else:
            continue
    return l

In [378]:
is_four_letters(["Tomato", "Potato", "Pair"])

['Pair']

In [379]:
is_four_letters(["Kangaroo", "Bear", "Fox"])

['Bear']

In [380]:
is_four_letters(["Ryan", "Kieran", "Jason", "Matt"])

['Ryan', 'Matt']

In [386]:
#53 Create a function that takes a year as an argument and returns the corresponding Chinese zodiac.
def chinese_zodiac(year):
    if year%12==4:
        return "Rat"
    elif year%12==5:
        return "Ox"
    elif year%12==6:
        return "Tiger"
    elif year%12==7:
        return "Rabbit"
    elif year%12==8:
        return "Dragon"
    elif year%12==9:
        return "Snake"
    elif year%12==10:
        return "Horse"
    elif year%12==11:
        return "Goat"
    elif year%12==1:
        return "Rooster"
    elif year%12==2:
        return "Dog"
    elif year%12==3:
        return "Pig"
    else:
        return "Cow"

In [387]:
chinese_zodiac(2021)

'Ox'

In [388]:
chinese_zodiac(2020)

'Rat'

In [389]:
chinese_zodiac(1933)

'Rooster'

In [390]:
#54 Two sisters are eating chocolate, whose pieces are represented as subarrays of [l x w].
#Write a function that returns True if the total area of chocolate is the same for each sister.
def test_fairness(agatha, bertha):
    a=0;b=0
    for i in agatha:
        a+=(i[0]*i[1])
    for i in bertha:
        b+=(i[0]*i[1])
    return a==b

In [391]:
test_fairness([[1, 2], [2, 1]], [[2, 2]])

True

In [392]:
test_fairness([[1, 2], [2, 1]], [[2, 2], [4, 4]])

False

In [393]:
test_fairness([[2, 2], [2, 2], [2, 2], [2, 2]], [[4, 4]])

True

In [394]:
test_fairness([[1, 5], [6, 3], [1, 1]], [[7, 1], [2, 2], [1, 1]])

False

In [395]:
#55 
def grade_percentage(user_score, pass_score):
    if user_score>=pass_score:
        return "Passed"
    else:
        return "Failed"

In [396]:
grade_percentage("85%", "85%")

'Passed'

In [397]:
grade_percentage("99%", "85%")

'Passed'

In [398]:
grade_percentage("65%", "90%")

'Failed'