In [ ]:
#1. Convert a string to lower case

In [1]:
x = 'HHHh'
y = x.lower()
y

'hhhh'

In [ ]:
#2. Odd indexed characters to lower case

In [5]:
x = 'PINEAPPLE'
y = x[0]+x[1].lower()+x[2]+x[3].lower()+x[4]+x[5].lower()+x[6]+x[7].lower()+x[8]
y

'PiNeApPlE'

In [ ]:
#3. Even indexed characters to lower case

In [3]:
x = 'INDIANA'
y = x[0].lower()+x[1]+x[2].lower()+x[3]+x[4].lower()+x[5]+x[6].lower()
y

'iNdIaNa'

In [ ]:
#4. Odd indexed characters to upper case

In [1]:
x = 'python'
y = x[0]+x[1].upper()+x[2]+x[3].upper()+x[4]+x[5].upper()
print(y)

pYtHoN

In [ ]:
#5. Even indexed charcters to upper case

In [35]:
#using for loop

x = input("Enter a string : ")
c = " "
for i in range(1,len(x)+1):
    if i%2==0:
        c+=x[i-1].upper()
    else:
        c+=x[i-1]
print(c)

Enter a string : python
 pYtHoN

In [ ]:
#6. Print bio data with inputs

In [9]:
name = input("My name is : ")
age = int(input("My age is :"))
height = float(input("My height is : "))
address = input("Address :")
contact_no = int(input("Phone number :"))
bio_data = "Name : {}, Age: {}, Height :{}, Address: {}, Contact_no : {}".format(name,age, height,address, contact_no)
#print(f"Name :{name}, Age :{age}, Height :{height}")
print(bio_data)

My name is : Preeti
My age is :23
My height is : 56
Address :hyd
Phone number :6757
Name : Preeti, Age: 23, Height :56.0, Address: hyd, Contact_no : 6757

In [ ]:
#7.Count how many "@" occured

In [6]:
x = "nmj@@@juh2@"
y = x.count("@")
y

4

In [38]:
#8.program to get only names from the string

x = 'name1@gmail.com,name2@gmail.com,name3@gmail.com'
y = x.split("@gmail.com")
#print(y)
a = " "
for z in range(0,len(y)):
    a+=y[z]
print(a)

 name1,name2,name3

In [39]:
#9.print middle 3 chars of an odd no of chars string, len>9
x = input("enter string :")
y = len(x)//2
print(x[y-1:y+2])

enter string :1234567776875
677

In [40]:
#10 insert a new string in the old string
x = input("Enter first string :")
y = input("Enter string to be inserted :")
z = len(x)//2
a = x[:z]+y+x[z:]
print(a)

Enter first string :abcdef
Enter string to be inserted :1234
abc1234def

In [46]:
#11 remove vowels
x = input("Enter a string : ")
z = " "
for y in range(0,len(x)):
    if x[y]=='a' or x[y]=='e' or x[y]=='i' or x[y]=='o' or x[y]=='u' or x[y]=='A' or x[y]=='E' or x[y]=='I' or x[y]=="O" or x[y]=='U':
        z+=""
    else:
        z+=x[y]
        
print(z)

Enter a string : ghaejyIO
 ghjy